@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

body {
  background-color: #0d0b0d;
  font-family: "Quicksand", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.01em;
  color: white;
}

.container {
  @apply px-2 mx-auto max-w-6xl;
  width: 100%;
}

.add-class-form__title {
  background-image: url("/books.png");
  background-size: 70%;
}

.form__label {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}

.form__input {
  @apply appearance-none block mr-4 w-full bg-gray-200 text-gray-700 border border-gray-200 rounded p-2 mb-3 leading-tight;
}

.form__input:focus {
  @apply outline-none bg-white border-gray-500;
}

.form__submit {
  @apply cursor-pointer bg-blue-500 text-white border border-blue-500 uppercase text-xs rounded py-3 px-4 mb-3 leading-none font-bold tracking-widest;
}

.form__submit:focus {
  @apply outline-none;
}

.quarter-selector input:checked + label {
  @apply bg-gray-200;
}

.quarter-selector label {
  transition: all 0.2s;
}

.meta:hover .meta__tooltip,
.meta__tooltip:hover {
  z-index: 1;
  opacity: 1;
}

.meta__tooltip {
  top: 0rem;
  left: 3rem;
  opacity: 0;
  z-index: -2;
  transition: all 0.4s;
}

text {
  fill: white;
}

.class-more-details {
  position: absolute;
  top: 4rem;
  height: 800px;
}

.class-more-details > div {
  position: sticky;
  top: 2rem;
}

.leading-zero {
  line-height: 0;
}

.network__node {
  transition: transform 0.1s;
}

.network__node:hover {
  transform: scale(1.3);
}
